<footer class="container">
	


	<div class="social-links">
		<a href="https://www.linkedin.com/in/brandon-miller-65528a113/" target="_blank" class="fa fa-linkedin-square" title="LinkedIn" aria-hidden="true"></a>
		<a href="https://www.instagram.com/brandomiller/" target="_blank" class="fa fa-instagram" title="Instagram" aria-hidden="true"></a>
		<a href="https://github.com/BrandonMiller18" target="_blank" class="fa fa-github" title="GitHub" aria-hidden="true"></a>

	</div>

	<div class="footer-brand desktop">
		<p>You are in the Admin</p>
	</div>
	
	<div class="share">	
		<a href="mailto:?subject=Check out this Candidate!&body=Check out this website: http://www.brandonlmiller.com!" target="_blank" title="Share website" class="fa fa-share-alt" aria-hidden="true"></a>

	</div>


</footer>