{% extends "admin/admin_base.html" %}
{% block title %}Brandon Miller | Admin{% endblock %}
{% set active_page = "user_table" %}
{% block content %}


<div class="page-header">
	<h1 class="full-width">Users</h1>
	<p class="full-width">TODO: Add, edit, delete user info. </p>
</div>

<div class="container">
	<div class="section narrow pad">
		<div class="section narrow pad">
			<table class="full-width pad">
				<thead>
					<tr>
						<th>ID</th>
						<th>Username</th>
						<th>Password</th>
					</tr>
				</thead>
				<tbody>
				{% for x in users %}
					<tr>
						<td>{{x.id}}</td>
						<td>{{x.username}}</td>
						<td class="hidetext">{{x.password}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>






{% endblock %}