{% extends "admin/admin_base.html" %}
{% block title %}Brandon Miller | Admin{% endblock %}
{% set active_page = "home" %}
{% block content %}


<div class="page-header">
	<h1 class="full-width">Welcome to the Admin</h1>
	<p class="full-width">You've made it.</p>
</div>

<div class="section narrow pad admin__login">
	<div class="third-width pad center">
		<a href="/admin/references"><button class="btn admin">Reference Table</button></a>
	</div>
	<div class="third-width pad center">
		<a href="/admin/portfolio"><button class="btn admin">Portfolio Table</button></a>
	</div>
	<div class="third-width pad center">
		<a href="/admin/references"><button class="btn admin">About Me Table</button></a>
	</div>
</div>

{% endblock %}