{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block description %}404 error{% endblock %}
{% set active_page = "404 error" %}
{% block content %}
<div class="page-header">
	<h1 class="page-title">Ope! This page does not exist.</h1>
</div>
<div class="container">
	<div class="section">
		<p class="full-width center">
			Click <a href="/">here</a> to return home.
		</p>
	</div>
	<div class="section narrow pad">
		<div class="third-width center pad">
			<a href="/contact" title="Contact Me Button">
				<button class="btn">Contact Me</button>
			</a>
		</div>
		<div class="third-width center pad">
			<a href="/references" title="Leave a Reference">
				<button class="btn">Leave a Reference</button>
			</a>
		</div>
		<div class="third-width center pad">
			<a href="/resume" title="View Resume">
				<button class="btn">View Resume</button>
			</a>
		</div>
	</div>
</div>

{% endblock %}