{% extends "base.html" %}
{% block title %}Brandon Miller | About Me{% endblock %}
{% block description %}Brandon Miller's about me page.{% endblock %}
{% set active_page = "about" %}
{% block content %}

<style type="text/css" media="screen">
	{% for x in hobbies %}
	.{{x.css_class}} {
		background-image: url("static/images/{{x.filename}}");
	}
	{% endfor %}
</style>

	<div class="container">
		
		<div class="page-header">
			<h1 class="page-title">About Me!</h1>
			<p class="full-width narrow" style="text-align: left;">My name is Brandon Miller. I was born and raised in Hazelwood, MO - a suburb in North St. Louis County. This isn't a Tinder profile, but if you're curious about my personal life and hobbies, continue reading...</p>
		</div>

		<p class="mobile center full-width"><strong>Click each block to learn more</strong></p>
		<p class="desktop center full-width"><strong>Hover over each block to learn more</strong></p>

		
		<div class="section narrow pad">
			<h2 class="full-width">Hobbies</h2>
		{% for x in hobbies %}
			{% if x.category == "Hobby" %}
			{% if x.active == True %}
			<div class="section hobby {{x.css_class}}">
				<div class="full-width item__name">
					<h2>{{x.hobby_title}}</h2>				
				</div>
				<div class="full-width item__description">
					<p>{{x.hobby_desc|safe}}</p>
				</div>
			</div>
			{% endif %}
			{% endif %}
		{% endfor %}
		</div>
		
		<div class="section narrow pad">
			<h2 class="full-width">Interests</h2>
		{% for x in hobbies %}
			{% if x.category == "Interest" %}
			{% if x.active == True %}
			<div class="section hobby {{x.css_class}}">
				<div class="full-width item__name">
					<h2>{{x.hobby_title}}</h2>				
				</div>
				<div class="full-width item__description">
					<p>{{x.hobby_desc|safe}}</p>
				</div>
			</div>
			{% endif %}
			{% endif %}
		{% endfor %}
		</div>

		<div class="section narrow pad">
			<h2 class="full-width">Sports</h2>
		{% for x in hobbies %}
			{% if x.category == "Sports" %}
			{% if x.active == True %}
			<div class="section hobby {{x.css_class}}">
				<div class="full-width item__name">
					<h2>{{x.hobby_title}}</h2>				
				</div>
				<div class="full-width item__description">
					<p>{{x.hobby_desc|safe}}</p>
				</div>
			</div>
			{% endif %}
			{% endif %}
		{% endfor %}
		</div>


	</div>

{% endblock %}


