{% extends "base.html" %}
{% block title %}Brandon Miller | About Me{% endblock %}
{% set active_page = "about" %}
{% block content %}


	<div class="container">
		
		<div class="page-header">
			<h1 class="page-title">About Me!</h1>
			<p class="full-width narrow" style="text-align: left;">My name is Brandon Miller. I was born and raised in Hazelwood, MO - a suburb in North St. Louis County. This isn't a Tinder profile, but if you're curious about my personal life and hobbies, continue reading...</p>
		</div>

		<div class="section narrow pad">


			<h2 class="full-width">Hobbies</h2>
			
			<div class="section hobby pc">

			</div>

			<div class="section hobby pc">
				
			</div>


		</div>

		<div class="section narrow pad">
			<h2 class="full-width">Interests</h2>
			<div class="section hobby pc">
					
			</div>
			<div class="section hobby pc">
				
			</div>
		</div>

		<div class="section narrow pad">
			<h2 class="full-width">Sports</h2>
			<div class="section hobby lu-bsb">
				<p class="watermark">@55Justincoleman</p>
			</div>
			<div class="section hobby pc">
				
			</div>
		</div>

		<div class="section narrow pad">
			<h2 class="full-width">Lorem Ipsum</h2>
			<div class="section hobby pc">
					
			</div>
			<div class="section hobby pc">
				
			</div>
		</div>


	</div>

{% endblock %}


