{% extends "base.html" %}
{% block title %}Brandon Miller | Home Page{% endblock %}
{% block description %}Brandon Miller's peronal portfolio site. Leave a reference, contact Brandon, and learn more about his skills accomplishments.{% endblock %}
{% set active_page = "index" %}
{% block content %}

<div class="page-header">
	{% if not fn %}
	<h1 class="page-title">Welcome.</h1>
	{% else %}
	<h1 class="page-title">Welcome back, {{fn}}!</h1>
	{% endif %}
</div>

<!-- <div class="hero">






	<div class="section narrow pad hero__text">
		<div class="full-width pad">
			<p>Welcome to what is probably the millionth iteration of my resume website. If you are reading this, it means I have finally gotten this bad boy to a place where I am happy enough to launch it (I've only owned the domain for over a year...)! Jokes aside, I started this project with one goal: LEARN. Spoiler alert: I have learned a lot!</p>
			<p>This site is built using the Python web-framework, Flask. I use the SQLAlchemy API to store and retrieve data from an SQLite database. All the HTML and CSS is completely custom (no bootstrap). Ok, maybe not completely custom - any sane person knows that Reddit and Stack Overflow are necessary for any project.</p>
			<p>The site you are viewing now is not a final product, and likely never will be. This is where I learn and experiment. This is my professional classroom. Take a look around...</p>
		</div>
	</div>

</div> -->

<div class="container">
	
	<div class="section narrow pad home">
		<div class="home__img"></div>
		<div class="home__title">
			<h2>A bit about me.</h2>
			<p class="home__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lectus feugiat, commodo nibh vitae, consectetur felis. Proin accumsan diam lacus, eget ultrices enim maximus nec. Pellentesque ac posuere tellus. Proin maximus metus arcu, ut dignissim ipsum rutrum a. Pellentesque volutpat neque non justo sagittis, quis semper est placerat. Suspendisse tristique nisl vestibulum, consectetur eros id, tincidunt purus. Donec et.</p>
		</div>
		<div class="home__img"></div>
		<div class="home__title">
			<h2>About this website.</h2>
			<p class="home__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lectus feugiat, commodo nibh vitae, consectetur felis. Proin accumsan diam lacus, eget ultrices enim maximus nec. Pellentesque ac posuere tellus. Proin maximus metus arcu, ut dignissim ipsum rutrum a. Pellentesque volutpat neque non justo sagittis, quis semper est placerat. Suspendisse tristique nisl vestibulum, consectetur eros id, tincidunt purus. Donec et.</p>
		</div>
		<div class="home__img"></div>
		<div class="home__title">
			<h2>Updated periodically. Take a look.</h2>
			<p class="home__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lectus feugiat, commodo nibh vitae, consectetur felis. Proin accumsan diam lacus, eget ultrices enim maximus nec. Pellentesque ac posuere tellus. Proin maximus metus arcu, ut dignissim ipsum rutrum a. Pellentesque volutpat neque non justo sagittis, quis semper est placerat. Suspendisse tristique nisl vestibulum, consectetur eros id, tincidunt purus. Donec et.</p>
		</div>
	</div>

	<hr style="width: 75%;">

	<div class="section narrow pad">
		<div class="third-width center pad">
			<a href="/contact" title="Contact Me Button">
				<button class="btn">Contact Me</button>
			</a>
		</div>
		<div class="third-width center pad">
			<a href="/portfolio" title="View Portfolio" target="_blank">
				<button class="btn">View Portfolio</button>
			</a>
		</div>
		<div class="third-width center pad">
			<a href="/brandon_miller_resume/" title="Download Resume" target="_blank">
				<button class="btn"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Resume</button>
			</a>
		</div>
	</div>

		<hr style="width: 75%;">
	

	
	<h2 class="full-width pad center">Real References</h2>
	<p class="full-width pad narrow center">References are stored in a Postgres SQL database. Please consider leaving a reference below.</p>
	<div class="section references pad">
		
		{% for x in references %}

			<div class="reference container full-width">
				<p class="full-width"><strong>{{x.fname}} {{x.lname}}</strong></p>
				<p class="half-width">{{x.title}}</p>
				<p class="half-width">{{x.relationship}}</p>
				<p class="full-width msg">{{x.msg}}</p>
			</div>

		{% endfor %}

	</div>

	<div class="section narrow pad center">
		<a class="full-width pad" href="/references" title="Leave a Reference">
			<button class="btn">Leave a Reference</button>
		</a>
	</div>

</div>

{% endblock %}
