{% extends "base.html" %}
{% block title %}Brandon Miller | Home Page{% endblock %}
{% block description %}Brandon Miller's peronal portfolio site. Leave a reference, contact Brandon, and learn more about his skills accomplishments.{% endblock %}
{% set active_page = "index" %}
{% block content %}

<div class="page-header">
	{% if not fn %}
	<h1 class="page-title">Welcome.</h1>
	{% else %}
	<h1 class="page-title">Welcome back, {{fn}}!</h1>
	{% endif %}
</div>

<!-- <div class="hero">






	<div class="section narrow pad hero__text">
		<div class="full-width pad">
			<p>Welcome to what is probably the millionth iteration of my resume website. If you are reading this, it means I have finally gotten this bad boy to a place where I am happy enough to launch it (I've only owned the domain for over a year...)! Jokes aside, I started this project with one goal: LEARN. Spoiler alert: I have learned a lot!</p>
			<p>This site is built using the Python web-framework, Flask. I use the SQLAlchemy API to store and retrieve data from an SQLite database. All the HTML and CSS is completely custom (no bootstrap). Ok, maybe not completely custom - any sane person knows that Reddit and Stack Overflow are necessary for any project.</p>
			<p>The site you are viewing now is not a final product, and likely never will be. This is where I learn and experiment. This is my professional classroom. Take a look around...</p>
		</div>
	</div>

</div> -->

<div class="container">
	
	<div class="section narrow pad home">
		<div class="home__img about__me"></div>
		<div class="home__title">
			<h2>A bit about me.</h2>
			<p class="home__desc">My name is Brandon Miller. I am born and raised in St. Louis, MO. I played baseball at Lindewnwood University for a few years before blowing my arm out and undergoing Tommy John surgery (twice). I grew up on sports. I bleed blue, as they say, and by my count I have only missed watching four Blues games in the past 3 years. If I had the money, I would buy the building pictured here and live there full time.</p>
		</div>
		<div class="home__img about__site"></div>
		<div class="home__title">
			<h2>About this website.</h2>
			<p class="home__desc">I built this website as a passion project to learn and demonstrate my skills. The backend of this site is built using the Python webframework called Flask. There is an admin section of this site (that you can't see) which requires a login and allows me to manage various tables in the database. You can leave a reference for me, which I must first approve in the admin, that is stored in a SQL database then displayed on the front end. The site is hosted on Heroku servers.</p>
		</div>
		<div class="home__img about__update"></div>
		<div class="home__title">
			<h2>Updated periodically. Take a look.</h2>
			<p class="home__desc">As with most websites, this is a continuous work in progress. There are likely some mistakes as I have been going at this solo. I plan to continually work to improve and add features to the site as time goes on. Pictured here is my home office setup. This whole thing was made sitting at that gorgeous spot. Please check back periodically to see what crazy stuff I have come up with!</p>
		</div>
	</div>

	<hr style="width: 75%;">

	<div class="section narrow pad">
		<div class="third-width center pad">
			<a href="/contact" title="Contact Me Button">
				<button class="btn">Contact Me</button>
			</a>
		</div>
		<div class="third-width center pad">
			<a href="/portfolio" title="View Portfolio" target="_blank">
				<button class="btn">View Portfolio</button>
			</a>
		</div>
		<div class="third-width center pad">
			<a href="/brandon_miller_resume/" title="Download Resume" target="_blank">
				<button class="btn"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Resume</button>
			</a>
		</div>
	</div>

	<hr style="width: 75%;">
	

	{% if references %}
	<h2 class="full-width pad center">Real References</h2>
	<p class="full-width pad narrow center">References are stored in a Postgres SQL database. Please consider leaving a reference below.</p>
	<div class="section references pad">
		

		{% for x in references %}
		{% if x.approved == True %}

			<div class="reference container full-width">
				<p class="full-width"><strong>{{x.fname}} {{x.lname}}</strong></p>
				<p class="half-width">{{x.title}}</p>
				<p class="half-width">{{x.relationship}}</p>
				<p class="full-width msg">{{x.msg}}</p>
			</div>
			
		{% endif %}
		{% endfor %}

	</div>
	{% else %}
	<h2 class="full-width pad center">No References Yet</h2>
	<p class="full-width pad narrow center">Please consider leaving a reference below!</p>
	{% endif %}


	<div class="section narrow pad center">
		<a class="full-width pad" href="/references" title="Leave a Reference">
			<button class="btn">Leave a Reference</button>
		</a>
	</div>

</div>

{% endblock %}
