{% extends "base.html" %}
{% block title %}Brandon Miller | More Info{% endblock %}
{% block description %}Further reading about each of the projects in Brandon's portfolio.{% endblock %}
{% set active_page = "moreinfo" %}
{% block content %}

<div class="page-header">
	<h1 class="page-title">Portfolio Info!</h1>
</div>

<div class="container">
	
	<div class="section pad">
		<!-- Loop through projects in db -->
		{% for x in projects %}
		{% if x.active == True %}
		{% if x.proj_title != "More to Come..." %}
		<div class="half-width section reference card">
			<h2 class="full-width pad">{{x.proj_title}}</h2>
			<div class="full-width body section">{{x.proj_long_desc|safe}}</div>
			{% if x.download_path %}
			<div class="full-width">
				<a href="{{x.download_path}}" class="btn btn__download center pad" aria-label="download {{ x.proj_title }}"><i class="fa fa-download" aria-hidden="true"></i></a>
			</div>
			{% endif %}
		</div>
		{% endif %}
		{% endif %}
		{% endfor %}
	</div>






</div>





{% endblock %}