{% extends "base.html" %}
{% block title %}Brandon Miller | Portfolio{% endblock %}
{% block description %}Brandon Miller's portfolio. Examples of projects Brandon has completed.{% endblock %}
{% set active_page = "portfolio" %}
{% block content %}

	<div class="page-header">
		<h1 class="page-title">Portfolio!</h1>
	</div>

	<div class="container narrow pad portfolio">
				<p class="mobile center full-width"><strong>Click each square to learn more</strong></p>
				<p class="desktop center full-width"><strong>Hover over each square to learn more</strong></p>

<!-- START PROJECTS -->

{% for x in projects %}
{% if x.active == True %}
	
	<div class="section project {{x.css_class}}">
			<div class="full-width item__name">
				<h2>{{x.proj_title}}</h2>				
			</div>
			<div class="full-width item__description">
				<p>{{x.proj_desc}}</p>
			</div>
	</div>


{% endif %}
{% endfor %}

<!-- END PROJECTS -->

		<div class="half-width center pad">
			<a href="/contact" title="Contact Me Button">
				<button class="btn">Contact Me</button>
			</a>
		</div>
		<div class="half-width center pad">
			<a href="/portfolio/more-info" title="">
				<button class="btn">More Info <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
			</a>
		</div>

	</div>

{% endblock %}